<!-- all_users.html -->
<html>
  <head>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <div class = "header">
      <nav>
        <a href="/">
          <img src="/static/img/Star Fleet Logo.png" class="logo">
        </a>
      <ul class="nav-links">
        <li><a href="/">[Home]</a></li>
        <li><a href="/movies">[Star-Trek-Movies]</a></li>
        <li><a href="/logout">[Logout]</a></li>
      </ul>
    </nav>
  </head>  
</html>

  <body style="background-color: #C2DFFF;">
  <div class="content">
    <center>
      <h1>Search User Email</h1>
      
      <form id="search-email">
          Search <input id="email-search" type="text" name="email">
          <button class="input-search" type="submit">Search</button>
      </form>
      <p id = "searchResult"></p>
    </center> 
  </div>

  </body>

<script src="/static/js/search.js"></script>


