<!-- all_users.html -->
{% extends 'base.html' %}
{% block title %}All User{% endblock %}



{% block body %}

<body style="background-color: #C2DFFF;"></body>

<h1>Search Users' Email</h1>

<form id="search-email">
  <p>
    Search <input id="email-search" type="text" name="email">
  </p>

  <p>
    <button class="input-search" type="submit">Search</button>
  </p>

</form>
<p id = "searchResult"></p>

</br>
<h2>Log Out</h2>
<form action="/logout">
<p>
  <input type="submit" value = "Logout" >
</p>
</form>


<script src="/static/js/search.js"></script>

{% endblock %}

