<!-- users_details.html -->
<!DOCTYPE html>
<html>

{% block title %}{% endblock %}

<body style="background-color: #C2DFFF;">


{% block body %}
<h2>Email Search Info Result for {{ user.email }}</h2>

<link href="/static/css/site.css" rel="stylesheet">

<ul>
    {% for rating in user.ratings %}
        <li>
            <td>{{rating.movie.title}}: <span id="score_{{ rating.rating_id }}">{{ rating.score }}</span></td>
            <td>{% if session.get("user_email") == user.email %}</td>
            <td><button class="edit-movie-rating" id="{{ rating.rating_id }}"> Edit rating </button></td>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</br>  
    <ul>
        {% for review in user.reviews %}
            <li>
                {{review.movie.title}}: <span id="review_{{ review.review_id }}">{{ review.user_review }}</span>
                {% if session.get("user_email") == user.email %}
                    <button class="edit-movie-review" id="{{ review.review_id }}"> Edit review </button>            
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</br>


<h2>Log Out</h2>

<form action="/logout">
<p>
  <input type="submit" value = "Logout" >
</p>
</form>

<script src="/static/js/updateRatings.js"></script>
<script src="/static/js/updateReview.js"></script>
{% endblock %}
</body>
</html>